body{
    background-color: rgb(1, 0, 49);
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  display: flex;
  justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2cm;
    font-size: large;
    border:2px dotted cyan;
}
div{
    margin-top: 1cm;
}
input,button{
    margin-top: 0.5cm;
}  
ul{
    color:rgb(0, 227, 151)
}
#result{
    border:1px double brown;
}
#buttons{
    display:flex;
    flex-direction: row;
    width:10%;
    justify-content: center;
    justify-content: space-between;
  text-decoration:none;

}

 

